*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #444040; }

.work {
  background-color: #6D7993; }

.header {
  background-color: #f1a3a3; }

.contact {
  background-color: #a9aeb6; }

.resume {
  background-color: #96848D; }

.home {
  background-color: #f5bf7e;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 8vw); }

.footer {
  background-color: #313a41;
  color: #fff; }
