*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 5vh;
  background-image: linear-gradient(to right bottom, #f0eeee, rgba(200, 212, 214, 0.781));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: [full-start] minmax(12vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(12vw, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Raleway", sans-serif;
  color: #e5e2e2; }

.heading-1 {
  font-size: 4.2vw;
  font-weight: 400;
  line-height: 1.2; }

.heading-2 {
  font-size: 3.4vw;
  font-weight: 300;
  font-style: italic;
  line-height: 0.8; }

.heading-3 {
  font-size: 1.9vw; }

.heading-4 {
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 1.6;
  padding-top: 2vh; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.work {
  background-color: rgba(185, 197, 199, 0.781);
  grid-column: center-start / center-end;
  font-family: Raleway, serif;
  font-size: 2.4rem;
  padding: 1rem 4rem 4rem 4rem;
  padding-top: 5rem; }
  .work__btn-school {
    border: none;
    color: #444040;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s; }
    .work__btn-school span {
      margin-left: 3px;
      transition: margin-left 0.2s; }
    .work__btn-school:hover {
      color: #990000; }
      .work__btn-school:hover span {
        margin-left: 8px; }
    .work__btn-school:focus {
      outline: none;
      animation: pulsate 1s infinite; }
  .work__suoritukset {
    padding-top: 3rem;
    text-indent: 5vw;
    font-size: 2rem;
    font-weight: 400; }
  .work__asiantuntemus {
    text-indent: 5vw;
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 2.8rem; }
  .work__text--suoritukset {
    font-size: 1.7rem;
    font-weight: 400; }
  .work__line {
    margin: 2rem 0;
    height: 4px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5); }

.progressBar {
  margin-bottom: 1vh; }

.progressBar h4 {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-transform: none;
  font-weight: bold;
  margin-bottom: 0.4rem; }

.progressBarContainer {
  width: 100%;
  max-width: 65vw;
  height: 0.4rem;
  background-color: #232020;
  background: rgba(173, 185, 187, 0.781);
  overflow: hidden;
  border-radius: 5px; }

h4 {
  font-size: 2.2rem;
  font-weight: 400; }

.progressBarValue {
  height: 1rem;
  float: left;
  background: #313a41; }

.value-00 {
  width: 0; }

.value-10 {
  width: 10%; }

.value-20 {
  width: 20%; }

.value-30 {
  width: 30%; }

.value-40 {
  width: 40%; }

.value-50 {
  width: 50%; }

.value-60 {
  width: 60%; }

.value-70 {
  width: 70%; }

.value-80 {
  width: 80%; }

.value-90 {
  width: 90%; }

.value-100 {
  width: 100%; }

.contact {
  background-color: rgba(173, 185, 187, 0.781);
  grid-column: center-start / center-end;
  display: grid;
  font-size: 2.2rem;
  padding: 6rem; }
  .contact__line {
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5); }
  .contact address > a {
    text-decoration: none; }
  .contact a {
    color: #990000;
    font-family: helvetica;
    text-decoration: none; }
  .contact a:hover {
    text-decoration: underline; }
  .contact a:active {
    color: black; }
  .contact a:visited {
    color: purple; }
  .contact .address {
    font-family: Raleway, serif;
    text-indent: 5vw;
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 3rem; }

.resume {
  background-color: rgba(200, 212, 214, 0.781);
  grid-column: center-start / center-end;
  font-family: Raleway, serif;
  padding: 4rem 6vw; }
  .resume__btn-school {
    border: none;
    color: #444040;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s; }
    .resume__btn-school span {
      margin-left: 3px;
      transition: margin-left 0.2s; }
    .resume__btn-school:hover {
      color: #990000; }
      .resume__btn-school:hover span {
        margin-left: 8px; }
    .resume__btn-school:focus {
      outline: none;
      animation: pulsate 1s infinite; }
  .resume__header {
    color: #444040;
    padding: 3rem;
    padding-right: 160px; }

.header-resume-section {
  padding-left: 2vw;
  padding-top: 1rem;
  font-size: 1.7rem;
  color: #444040; }
  @media only screen and (max-width: 50em) {
    .header-resume-section {
      font-size: 130%; } }
  @media only screen and (max-width: 37.5em) {
    .header-resume-section {
      font-size: 110%; } }
  @media only screen and (max-width: 31.25em) {
    .header-resume-section {
      font-size: 95%; } }

.text-resume-section {
  color: #444040;
  background-color: rgba(200, 209, 211, 0.781);
  text-indent: 3vw;
  font-size: 2.4rem;
  font-weight: 400;
  padding: 1vw;
  padding-top: 1rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.indent {
  color: #444040;
  background-color: rgba(200, 209, 211, 0.781);
  text-indent: 2.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0; }

.home {
  background-color: rgba(216, 225, 226, 0.781);
  grid-column: center-start / center-end;
  font-family: Raleway, serif;
  padding: 10rem 8vw; }
  .home__text {
    color: #444040;
    background-color: rgba(210, 219, 221, 0.781);
    text-indent: 2.6rem;
    font-size: 1.9rem;
    font-weight: 400;
    margin: 0; }
  .home__heading-2 {
    color: #444040;
    text-indent: 5vw;
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 3rem; }
  .home__line {
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5); }
  .home__videoFrame {
    width: 100%; }
  .home__videoFrame poster {
    margin: 0 auto;
    display: block;
    width: 560px; }

.footer {
  display: flex;
  align-items: stretch;
  background-color: #313a41;
  color: #bfdaf1;
  grid-column: center-start / center-end;
  font-size: 2.2rem;
  padding: 4rem; }
  .footer__icon--github, .footer__icon--twitter, .footer__icon--location {
    width: 3.4rem;
    height: 3.4rem;
    fill: #e5e2e2;
    margin-left: 4vw;
    margin-top: 2vh; }
    @media only screen and (max-width: 31.25em) {
      .footer__icon--github, .footer__icon--twitter, .footer__icon--location {
        width: 2.2rem;
        height: 2.2rem; } }

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
  padding-top: 3vh; }
  @media only screen and (max-width: 75em) {
    .header {
      font-size: 50%; } }
  .header__item--image-1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 4;
    background-image: linear-gradient(to right top, rgba(221, 231, 231, 0.788), rgba(123, 132, 134, 0.795)), url(../img/portf1.jpg);
    background-size: cover; }
  .header__item--image-2 {
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    width: 105%;
    height: 105%;
    border-radius: 8px;
    z-index: 20;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid #313a41; }
    @media only screen and (max-width: 50em) {
      .header__item--image-2 {
        grid-row: 1 / span 3;
        grid-column: 1 / span 4; } }
    @media only screen and (max-width: 31.25em) {
      .header__item--image-2 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 4; } }
  .header__item--header-1 {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 5 / -1;
    background: #313a41;
    padding-left: 7vw;
    padding-top: 3vh; }
  .header__item--header-2 {
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 5 / -1;
    background: #313a41;
    padding-top: 3vh;
    padding-left: 12vw; }
  .header__item--header-vision {
    display: grid;
    grid-row: 3 / span 1;
    grid-column: 5 / -1;
    background: #232020;
    padding: 0 2vw;
    text-indent: 2vw; }
  .header__item--home {
    grid-row: 4 / span 1;
    grid-column: 5 / 7;
    background: rgba(216, 225, 226, 0.781);
    z-index: 10; }
  .header__item--resume {
    grid-row: 4 / span 1;
    grid-column: 7 / 9;
    background: rgba(200, 212, 214, 0.781); }
  .header__item--work {
    grid-row: 4 / span 1;
    grid-column: 9 / 11;
    background: rgba(185, 197, 199, 0.781); }
  .header__item--contact {
    grid-row: 4 / span 1;
    grid-column: 11 / 13;
    background: rgba(173, 185, 187, 0.781); }
  .header__icon {
    display: grid;
    fill: #313a41;
    margin-left: auto;
    margin-right: auto;
    width: 3.4rem;
    height: 3.4rem;
    padding-top: 0.8rem; }
  .header__img--1 {
    width: 100%;
    height: 100%;
    padding: 3px;
    object-fit: cover; }
  .header__img--2 {
    width: 100%;
    height: 100%;
    padding: 3px;
    object-fit: cover; }
  .header .nav__link:link, .header .nav__link:visited {
    display: grid;
    justify-items: center;
    color: #444040;
    font-size: 1.2vw;
    text-transform: uppercase;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    transition: all 0.3s; }
  .header .nav__link:hover, .header .nav__link:active {
    background-color: rgba(255, 255, 255, 0.04);
    transform: translateY(-2px); }
  .header .github {
    display: inline-grid;
    grid-row: 2 / span 1;
    grid-column: 11 / 12;
    justify-content: center;
    align-items: end;
    width: 1.4rem;
    height: 1.4rem;
    fill: #e5e2e2; }
  .header .twitter {
    display: inline-grid;
    grid-row: 2 / span 1;
    grid-column: 10 / 11;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    fill: #e5e2e2; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
