*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 5vh; }

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: [full-start] minmax(12vw, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(12vw, 1fr) [full-end];
  background-color: #eaeeed; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: Merriweather, serif;
  color: #f3dcdc; }

.heading-1 {
  margin-top: 1.4rem;
  font-size: 3.8vw;
  color: #f3dcdc;
  line-height: 1.2; }

.heading-2 {
  font-size: 3.2vw;
  color: #f3dcdc;
  font-style: italic;
  line-height: 0.8; }

.heading-3 {
  font-size: 1.9rem;
  color: #f3dcdc; }

.heading-4 {
  font-size: 1.4vw;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1.4px;
  line-height: 2; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.work {
  background-color: rgba(180, 189, 190, 0.74);
  grid-column: center-start / center-end;
  display: grid;
  color: #232020;
  font-family: Merriweather, serif;
  padding: 1rem 4rem 4rem 4rem;
  padding-top: 5rem; }
  .work__btn-school {
    font-size: 1.6rem;
    border-bottom: 2px solid #232020;
    text-decoration: none;
    margin-left: 2rem;
    margin-bottom: 4rem;
    color: #232020; }
  .work__suoritukset {
    padding-top: 3rem;
    text-indent: 5vw;
    font-size: 2rem;
    font-weight: 400; }
  .work__asiantuntemus {
    text-indent: 5vw;
    font-size: 2rem;
    font-weight: 400; }
  .work__text--suoritukset {
    font-size: 1.6rem;
    font-weight: 400; }
  .work__line {
    margin: 2rem 0;
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5); }

.progressBar {
  margin-bottom: 1vh; }

.progressBar h4 {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-transform: none;
  font-weight: bold;
  margin-bottom: .4rem; }

.progressBarContainer {
  width: 100%;
  max-width: 65vw;
  height: 1rem;
  background-color: #232020;
  background: rgba(171, 180, 180, 0.87);
  overflow: hidden;
  border-radius: 5px; }

.progressBarValue {
  height: 1rem;
  float: left;
  background: #313a41; }

.value-00 {
  width: 0; }

.value-10 {
  width: 10%; }

.value-20 {
  width: 20%; }

.value-30 {
  width: 30%; }

.value-40 {
  width: 40%; }

.value-50 {
  width: 50%; }

.value-60 {
  width: 60%; }

.value-70 {
  width: 70%; }

.value-80 {
  width: 80%; }

.value-90 {
  width: 90%; }

.value-100 {
  width: 100%; }

.contact {
  background-color: rgba(171, 180, 180, 0.87);
  grid-column: center-start / center-end;
  display: grid;
  font-size: 1.7rem;
  padding: 6rem; }
  .contact__line {
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5); }

address > a {
  text-decoration: none; }

.resume {
  background-color: rgba(192, 192, 192, 0.712);
  grid-column: center-start / center-end;
  display: grid;
  color: #232020;
  font-family: Merriweather, serif;
  padding: 1rem 4rem 4rem 4rem; }
  .resume__btn-school {
    font-size: 1.8rem;
    border-bottom: 2px solid #551b1b;
    text-decoration: none;
    margin-left: 2rem;
    margin-top: 0;
    padding-top: 1.8rem;
    color: #551b1b; }
  .resume__header {
    display: block;
    color: #551b1b;
    padding: 3rem;
    padding-right: 160px;
    font-size: 3.5rem; }

.header-resume-section {
  padding-left: 2vw;
  padding-top: 1rem;
  font-size: 1.7rem;
  color: #551b1b; }

.text-resume-section {
  color: #551b1b;
  padding-top: .7rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600; }

.home {
  background-color: rgba(204, 204, 204, 0.712);
  grid-column: center-start / center-end;
  display: grid;
  font-family: Merriweather, serif;
  font-size: 1.8rem;
  padding: 8rem 6rem; }
  .home__intro {
    color: #551b1b;
    font-size: 1.8rem;
    text-indent: 3vw;
    margin-bottom: 4rem;
    background-color: #cecccc;
    border: 1px solid #c7bdc2;
    padding: 1rem;
    font-weight: 400; }
  .home__text {
    color: #551b1b;
    background-color: #cecccc;
    border: 1px solid #c7bdc2;
    text-indent: 3vw;
    font-size: 1.6rem;
    padding: 1rem; }
  .home__heading-2 {
    color: #7e1212;
    text-indent: 5vw;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 3rem; }
  .home__list {
    color: #551b1b; }
  .home__line {
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5); }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #313a41;
  color: #bfdaf1;
  grid-column: center-start / center-end;
  font-size: 1.7rem;
  padding: 6rem; }
  .footer__icon--github {
    width: 4.4rem;
    height: 4.4rem;
    fill: #bfdaf1;
    margin-left: 3vw; }
  .footer__icon--twitter {
    width: 4.4rem;
    width: 4.4rem;
    height: 4.4rem;
    fill: #bfdaf1;
    margin-left: 2vw; }
  .footer .copy {
    width: 4.4rem;
    color: #bfdaf1; }

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-top: 3vh; }
  .header__item--image-1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 4;
    background-image: linear-gradient(to right top, rgba(123, 141, 141, 0.788), rgba(173, 152, 152, 0.795)), url(../img/keyboardLight.jpg);
    background-size: cover;
    opacity: 0.6; }
  .header__item--image-2 {
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    width: 110%;
    height: 115%;
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid #313a41; }
  .header__item--header-1 {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 5 / -1;
    font-family: Merriweather, serif;
    background: #313a41;
    padding-left: 7vw;
    padding-top: 2vh; }
  .header__item--header-2 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 5 / -1;
    background: #313a41;
    justify-self: center;
    align-self: center; }
  .header__item--header-vision {
    display: grid;
    grid-row: 3 / span 1;
    grid-column: 5 / -1;
    background: #232020;
    padding: 0 6vw; }
  .header__item--home {
    grid-row: 4 / span 1;
    grid-column: 5 / 7;
    background: rgba(204, 204, 204, 0.712);
    z-index: 20; }
  .header__item--resume {
    grid-row: 4 / span 1;
    grid-column: 7 / 9;
    background: rgba(192, 192, 192, 0.712); }
  .header__item--work {
    grid-row: 4 / span 1;
    grid-column: 9 / 11;
    background: rgba(180, 189, 190, 0.74); }
  .header__item--contact {
    grid-row: 4 / span 1;
    grid-column: 11 / 13;
    background: rgba(171, 180, 180, 0.87); }
  .header__icon {
    display: grid;
    fill: #ffaa22;
    margin-left: auto;
    margin-right: auto;
    width: 3.4rem;
    height: 3.4rem;
    padding-top: 0.8rem; }
  .header__img--1 {
    width: 100%;
    height: 100%;
    padding: 3px;
    object-fit: cover; }
  .header__img--2 {
    width: 100%;
    height: 100%;
    padding: 3px;
    object-fit: cover; }
  .header .nav__link:link, .header .nav__link:visited {
    display: grid;
    justify-items: center;
    color: #444040;
    font-size: 1.4vw;
    text-transform: uppercase;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    transition: all 0.3s; }
  .header .nav__link:hover, .header .nav__link:active {
    background-color: rgba(255, 255, 255, 0.04);
    transform: translateY(-2px); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
