// COLORS

$color-back-main: #313a41;
$color-back-sub: #232020;
$color-fill: #ffaa22;
$color-iconfill: #bfdaf1;

$color-text-light: #e7e7e7;
$color-text-dark: #444040;
$color-text-darkred: #551b1b;
$color-text-lightblue: #bfdaf1;

$color-home: rgba(216, 225, 226, 0.781);
$color-home-light: #e5e2e2;
$color-home-light-border: #c7bdc2;
$color-resume: rgba(200, 212, 214, 0.781);
$color-container-resume:rgba(200, 209, 211, 0.781);
$color-work: rgba(185, 197, 199, 0.781);
$color-contact: rgba(173, 185, 187, 0.781);
$color-container-light: #f0eeee;
$color-container-dark: rgba(210, 219, 221, 0.781);

$color-heading-all: rgb(243, 220, 220);

$color-skills: #96848d;

$color-spanish-grey: #999999;
$color-dark-liver: #4e4e4e;
$color-onyx: #34383a;
$color-rocket-metallic: #9d908d;
$color-back-main-hover: #495760;

// FONT
$default-font-size: 1.6rem;
$main-text-font: Merriweather, serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
