$color-back-main:#313a41;
$color-text-light:#e7e7e7;
$color-back-sub:#232020;
//$color-home:#82858c;
//$color-home:#cfd2da;
$color-home:#eaf1ef;
//$color-resume:#8f99a1;
//$color-resume:#d0d9e0;
$color-resume:silver;
//$color-work:#b5a2a2;
//$color-work:#b4babd;
$color-work:#8e9b9d;
//$color-contact:#9d908d;
$color-contact:#758383;

$color-skills:#96848D;
$color-text-dark:#444040;
$color-container:#ddd9d9;
$color-spanish-grey:#999999;
$color-dark-liver:#4e4e4e;
$color-onyx:#34383a;
$color-rocket-metallic:#9d908d;
$color-back-main-hover:#495760;
