// COLOR VARIABLES
$color-back-main:#313a41;
$color-text-light:#fff;
$color-back-sub:#000;
$color-home:#8F99A1;
$color-resume:#96848D;
$color-work:#6D7993;
$color-contact:#a9aeb6;
$color-skills:#96848D;
$color-text-dark:#444040;
$color-header:#f1a3a3;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  
}
body {    
    color: $color-text-dark;
  }