.footer {
  display: flex;
  align-items: stretch;
  background-color: $color-back-main;
  color: $color-iconfill;
  grid-column: center-start / center-end;
  font-size: 2.2rem;
  padding: 4rem;

  &__icon--github,
  &__icon--twitter,
  &__icon--location {
    width: 3.4rem;
    height: 3.4rem;
    fill: $color-home-light;
    margin-left: 4vw;
    margin-top: 2vh;

    @media only screen and (max-width: $bp-smallest) {
               
      width: 2.2rem;
      height: 2.2rem;      
  }
  }
 
}

