.footer {
  display: flex;
  align-items: stretch;
  background-color: $color-back-main;
  color: $color-iconfill;
  grid-column: center-start / center-end;
  font-size: 1.7rem;
  padding: 4rem;

  &__icon--github,
  &__icon--twitter,
  &__icon--location {
    width: 3.4rem;
    height: 3.4rem;
    fill: $color-home-light;
    margin-left: 4vw;
    margin-top: 2vh;
  }
}

