.contact {
    background-color: $color-contact; 
    grid-column: center-start / center-end;
    display: grid;
    font-size: 1.7rem;
    padding: 6rem;

    &__line {
        height: 8px; border: 0; box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    }

    address > a {
    text-decoration: none;
}
 a {
   color: #990000;
   font-family: helvetica;
   text-decoration: none;
   //text-transform: uppercase;
 }

 a:hover {
   text-decoration: underline;
 }

 a:active {
   color: black;
 }

 a:visited {
   color: purple;
 }


// a {
//     a:link,
//     a:visited {
//         font-size: 16;
//         color: green;
//         display: inline-block;
//         text-decoration: none;
//         border-bottom: 1px solid red;
//         padding: 3px;
//         transition: all .2s;
//     }

//     a:hover {
//         background-color: red;
//         color: white;
//         box-shadow: 0 1rem 2rem rgba(black, .15);
//         transform: translateY(-2px);
//     }

//     a:active {
//         box-shadow: 0 .5rem 1rem rgba(black, .15);
//         transform: translateY(0);
//     }
// }

.address {    
    font-family: Raleway, serif; 
    text-indent: 5vw;
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
}




