.contact {
    background-color: $color-contact; 
    grid-column: center-start / center-end;
    display: grid;
    font-size: 1.7rem;
    padding: 6rem;

    &__line {
        height: 8px; border: 0; box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    }
}

address > a {
    text-decoration: none;
}


