.home {
  background-color: $color-home;
  grid-column: center-start / center-end;
  display: grid;

  font-size: 1.7rem;
  padding: 6rem;


&__intro {
  color:rgb(85, 27, 27);
  font-size: 1.7rem;
}

&__heading-2 {
  color: rgb(85, 27, 27);
  font-size: 1.9rem;
}

&__list {
  color: rgb(85, 27, 27);
}

}