.resume {
  background-color: $color-resume;
  grid-column: center-start / center-end;
  font-family: Raleway, serif;
  font-size: 1.8rem;
  padding: 4rem 6vw;

  &__btn-school {
    border: none;
    color: $color-text-dark;
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    & span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: red;

      span {
        margin-left: 8px;
      }
    }

    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }

  &__header {
    color: $color-text-dark;
    padding: 3rem;
    padding-right: 160px;
    font-size: 3.5rem;
  }
}

.resume__btn-school--koulutus {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.header-resume-section {
  padding-left: 2vw;
  padding-top: 1rem;
  font-size: 1.7rem;
  color: $color-text-dark;
}

.text-resume-section {
  color: $color-text-dark;
  background-color: $color-container-dark;
  border: 1px solid $color-home-light-border;
  text-indent: 3vw;
  font-size: 1.4vw;
  font-weight: 400;
  padding: 1vw;
  padding-top: 1rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
